$primary:          #ff1493;
$secondary:        #FF00FF;
$accent:           #77F;
$error:            #FF2222;
$background-dark:  #000000;
$background-light: #FFFFFF;
$text-on-dark:     #FFFFFF;
$text-on-light:    #000000;
