@use '../../css/color';

@mixin shadow {
  $shadow: 3px;
  box-shadow: $shadow $shadow color.$accent;
}

.Control {
  width: 100%;
}

form.control-form {
  height: 55%;
}

div.control-buttons > .Button {
  margin-left: 1%;
  margin-right: 1%;
}

.picture-data {
  resize: none;
  min-height: 55%;
  width: 80%;
}

.picture-data:hover {
  @include shadow;
}

.shadow-on-hover:hover {
  @include shadow;
}
